@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Playfair+Display&display=swap');
.home-body{
  margin-left:200px;
}

.grey-background{
  background-color:rgba(56, 56, 56, 0.541);
}

.section1{
  background-image:url("home-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:-25%;
  margin-top:-10%;
  margin-right:-45%;
}

.upper-h1{
  line-height:150%;
  padding-left:15%;
  padding-top:4%;
  color:white;
  margin:0%;
  font-size:3.3vw;
  background-color:rgba(56, 56, 56, 0.541);
  font-family: 'Arvo', serif;
}

.meal-button{
  padding:1%;
}

.signup-button{
  padding:1%;
}

.button-family{
  display:flex;
  justify-content: center;
}

.bottom-h1{
  padding-bottom:3%;
  line-height:150%;
  padding-left:15%;
  padding-top:4%;
  color:white;
  margin:0%;
  font-size:3.3vw;
  background-color:rgba(56, 56, 56, 0.541);
  font-family: 'Arvo', serif;
}

.section2{
  background-image:url("home-image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left:-25%;
  margin-top:0%;
  margin-right:-45%;
  border-top: 5px solid rgba(11, 31, 95, 0.24);
}

.section2-h1{
  line-height:150%;
  padding-left:15%;
  padding-top:1%;
  color:white;
  margin:0%;
  font-size:2vw;
  font-family: 'Playfair Display', serif;
}



/* SMALL SCREENS */
@media only screen and (max-width: 600px) {
  .home-body {
    margin-left:auto;
  }
  .upper-h1{
    line-height:150%;
    padding-left:15%;
    padding-top:4%;
    color:white;
    margin:0%;
    font-size:20px;
    background-color:rgba(56, 56, 56, 0.541);
  }
  .bottom-h1{
    padding-bottom:4%;
    line-height:150%;
    padding-left:15%;
    padding-top:3%;
    color:white;
    margin:0%;
    font-size:20px;
    background-color:rgba(56, 56, 56, 0.541);
  }
  .section2-h1{
    line-height:150%;
    padding-left:15%;
    padding-top:1%;
    color:white;
    margin:0%;
    font-size:13px;
  }
}

/* LARGE SCREENS */
@media only screen and (min-width: 1580px){
  .section1{
    background-image:url("home-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:-60%;
    margin-top:-10%;
    margin-right:-60%;
  }
  .section2{
    background-image:url("home-image2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left:-60%;
    margin-top:-10%;
    margin-right:-60%;
    border-top: 5px solid rgba(11, 31, 95, 0.24);
  }
  .upper-h1{
    line-height:150%;
    padding-left:15%;
    padding-top:4%;
    color:white;
    margin:0%;
    font-size:50px;
    background-color:rgba(56, 56, 56, 0.541);
  }
  .bottom-h1{
    padding-bottom:5%;
    line-height:150%;
    padding-left:15%;
    padding-top:3%;
    color:white;
    margin:0%;
    font-size:50px;
    background-color:rgba(56, 56, 56, 0.541);
  }
  .section2-h1{
    line-height:150%;
    padding-left:15%;
    padding-top:1%;
    color:white;
    margin:0%;
    font-size:30px;
  }
}