a{
    text-decoration: none;
    color:white;
}

.recipe-button{
    padding:1%;
}

.favorite-button{
    padding:1%;
}

img{
    width:90%;
}

.meal-card{
    padding-left:10%;
    padding-right:10%;
    padding-bottom:5%;
    padding-top:1%;
    background-color:rgba(11, 31, 95, 0.24);
    border-radius:5%;
    margin:1%;
}

@media only screen and (max-width: 600px) {
    .meal-card{
        padding-left:0px;
        padding-right:0px;
        padding-bottom:3%;
    }
  }